@import url('https://fonts.googleapis.com/css2?familty=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Britannic Bold rgb(10, 10, 10);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../Assests/bar.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(10, 10, 10);



  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Britannic Bold',
    monospace;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Britannic Bold',
    monospace;
}


body {
  font-family: Bernard MT Condensed rgb(240, 237, 237);
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #68635e;
}

.low-stock {
  color: red;
  font-weight: bold;
}

.edit-link {
  color: rgb(235, 235, 240);
  cursor: pointer;
}

.background {
  background-color: #68635e; 
  min-height: 100vh; 
  padding: 20px; 
  opacity: .85;
}


