@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; /* Using Poppins from Google Fonts */
  font-weight: bold; /* Apply bold font weight */
  color: rgb(10, 10, 10); /* Set the font color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../Assests/bar.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace; /* No need to add 'Britannic Bold' here */
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px 10px 0 0; /* Rounded top borders */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #68635e;
}

.low-stock {
  color: red;
  font-weight: bold;
}

.edit-link {
  color: rgb(235, 235, 240);
  cursor: url('C:\Users\GI Student\Bartendgo\src\Components\Assests\beer.png'), auto; /* Custom beer bottle cursor */
}

.background {
  background-color: #68635e; 
  min-height: 100vh; 
  padding: 20px; 
  opacity: 0.85;
}

