.log-out-button {
    margin-left: 10px; /* Adjust spacing */
    padding: 10px 15px; /* Button size */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: url('C:\Users\GI Student\Bartendgo\src\Components\Assests\beer.png'), auto;; /* Pointer cursor on hover */
  }
  
  .log-out-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  